.logo{
    padding-top: 1rem;
}

mat-form-field{
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}
  
.example-radio-button {
    margin: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
}

.mat-mdc-raised-button {
    font-size: 1.5rem;
    height: 50px;
}

.button-action{
    text-align: center;
}